<label>Users with a chosen category: </label>
<select #list (change)="onCategoryChange(list.value)">
  <option *ngFor="let category of categoryList">
    {{ category }}
  </option>
</select>

<table>
  <tr>
    <th class="category">Status</th>
    <th>Name and surname</th>
    <th>Email</th>
    <th>Category</th>
    <th>Personal Number</th>
    <th>Birthday</th>
    <th>Actions</th>
  </tr>
  <tr
    *ngFor="
      let user of filtered
        | paginate
          : { itemsPerPage: tableSize, currentPage: page, totalItems: count }
    "
  >
    <td class="category">{{ user.status }}</td>
    <td>{{ user.name }} {{ user.surname }}</td>
    <td>{{ user.mail }}</td>
    <td>{{ user.category }}</td>
    <td>{{ user.persNumber }}</td>
    <td>{{ user.birthday }}</td>
    <td>
      <button>Edit</button>
      <button>Delete</button>
    </td>
  </tr>
</table>
<div>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  ></pagination-controls>
</div>
