table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.category {
  background-color: rgb(196, 201, 191);
  font-weight: 700;
}

.btn {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);

  min-width: 70rem;
  border-radius: 0;

  box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(purple, 0.1);
  height: 4.5rem;
  font-size: 2.2rem;
  background-color: #808080;
  // margin: 0 auto;
  // display: block;
  cursor: pointer;
}
