td {
  padding: 1.2rem 1.5rem;
}

tbody tr {
  border-bottom: 0.1rem solid #009879;
}

tbody tr td {
  border-right: 0.1rem solid #009879;
  width: 9rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

tbody tr td:first-child {
  border-left: 0.1rem solid #009879;
}

tbody tr td.mail {
  min-width: 16rem;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

// tbody tr:last-of-type {
//   border-bottom: 0.1rem solid #009879;
// }
