<p>edit-user works!</p>
[formGroup]="addUser" (ngSubmit)="onSubmitAddUser()"
<div class="main-container">
  <form>
    <div>
      <p>Name</p>
      <input type="text" formControlName="name" placeholder="Name" />
    </div>

    <div>
      <p>Surname</p>
      <input type="text" formControlName="surname" placeholder="Surname" />
    </div>

    <div>
      <p>Personal number</p>
      <input
        type="text"
        formControlName="persNumber"
        placeholder="Personal number"
      />
    </div>

    <div>
      <p>Email</p>
      <input type="text" formControlName="mail" placeholder="Email" />
    </div>

    <div>
      <p>Birthday</p>
      <input type="date" formControlName="birthday" />
    </div>

    <div>
      <p>Category</p>
      <select formControlName="category">
        <option value="vip">vip</option>
        <option value="idle">idle</option>
        <option value="wee">wee</option>
        <option value="wee1">wee1</option>
        <option value="wee2">wee2</option>
        <option value="wee3">wee3</option>
        <option value="wee4">wee4</option>
      </select>
    </div>

    <div>
      <p>Status</p>
      <select formControlName="status">
        <option value="active">Active</option>
        <option value="blocked">Blocked</option>
        <option value="suspended">Suspended</option>
        <option value="paused">Paused</option>
        <option value="deleted">Deleted</option>
        <option value="debt">Debt</option>
        <option value="rejected">Rejected</option>
      </select>
    </div>

    <div class="buttons">
      <button class="btn-1" type="submit">Save</button>
      <button class="btn-2" routerLink="/list">Cancel</button>
    </div>
  </form>
</div>
