<div class="container-for-select-and-search">
  <div class="div-1">
    <label>Search:</label>
    <input
      type="text"
      placeholder="Type something.."
      [(ngModel)]="filterText"
    />
  </div>

  <div class="div-2">
    <label>Table size:</label>
    <select (change)="onTableSizeChange($event)">
      <option *ngFor="let size of tableSizes">
        {{ size }}
      </option>
    </select>
  </div>
</div>
<table class="styled-table">
  <app-thead></app-thead>
  <app-table-content
    *ngFor="
      let user of users
        | filterPipe : filterText
        | paginate
          : { itemsPerPage: tableSize, currentPage: page, totalItems: count };
      index as id
    "
    [mail]="user.mail"
    [persNumber]="user.persNumber"
    [name]="user.name"
    [surname]="user.surname"
    [birthday]="user.birthday"
    [category]="user.category"
    [status]="user.status"
    (edit)="edit(user.id)"
    (delete)="delete(user.id)"
  ></app-table-content>
</table>
<div>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  ></pagination-controls>
</div>
<button class="btn" routerLink="0">Add user</button>
