.btn {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);

  min-width: 70rem;
  border-radius: 0;

  box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(purple, 0.1);
  height: 4.5rem;
  font-size: 2.2rem;
  background-color: #009879;
  // margin: 0 auto;
  // display: block;
  cursor: pointer;
}

.styled-table {
  // background-color: red;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  font-family: sans-serif;
  // min-width: 40rem;
  // border: 3px solid #009879;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
}

app-thead,
app-table-content {
  margin: 0 auto;
  display: block;
}

.container-for-select-and-search {
  // background-color: aqua;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  div {
    width: 30%;

    select {
      // margin-right: 10rem;
      // display: inline-block;
      width: 40%;
      background-color: #2ecc7000;
    }

    input {
      width: 80%;
      background-color: #2ecc7000;
    }

    label {
      width: 20%;
    }

    &.div-1 {
      display: flex;
      // justify-content: flex-end;
      align-items: baseline;
      border-left: 1px solid #2ecc700d;
    }

    &.div-2 {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      border-right: 1px solid #2ecc700d;
    }
  }
}
