<!-- <a>Category page</a>
<a>status page</a>
<a routerLink="list">list</a> -->
<nav>
  <ul class="menuItems">
    <!-- <li><a href="#" data-item="Home">Home</a></li> -->
    <li><a href="#" data-item="Main page">Main page</a></li>
    <li><a routerLink="status" data-item="Status page">Status page</a></li>
    <li>
      <a routerLink="category" data-item="Category page">Category page</a>
    </li>
    <li><a routerLink="list" data-item="List">List</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
